
$color: #F08201;
// @lightHeight: #F08201;
* {
  margin: 0;
  // padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}
li {
  list-style-type: none
}

.w {
  width: 1200px;
  margin: auto;
}
input {
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  width: 80%;
}
.pointer {
  cursor: pointer;
}
.cl-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
:root {
    --theme-color: #f78f19;
    --el-color-primary: #f78f19 !important;
    --el-color-primary-light-1: #f78f19 !important;
    --el-color-primary-light-2: #f29730 !important;
    --el-color-primary-light-3: #f6a850 !important;
    --el-color-primary-light-4: #fcbc72 !important;
    --el-color-primary-light-5: #f9c993 !important;
    --el-color-primary-light-6: #f9d8b2 !important;
    --el-color-primary-light-7: #f9e2c8 !important;
    --el-color-primary-light-8: #f7eadc !important;
    --el-color-primary-light-9: #f9f6f3 !important;
    --el-color-primary-dark-2: #f78f19 !important;
    --el-input-hover-border-color: #f78f19 !important;
}